[submodule "lib/TeensyStep"]
	path = lib/TeensyStep
	url = https://github.com/luni64/TeensyStep.git
[submodule "lib/TMC2130Stepper"]
	path = lib/TMC2130Stepper
	url = https://github.com/teemuatlut/TMC2130Stepper.git
